.trio__helpfull > h2 {
    margin-top: 60px;
    text-align: center;
    color: var(--unnamed-color-008080);
    font-weight: 600;

}

.trio__helpfull > hr{
    max-width: 200px;
    margin: 5px auto;
    font-weight: 600;
    border:1px solid var(--unnamed-color-008080)!important;
}

.helpfull__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.helpfull__container > img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 20px;
    padding: 30px;
}

.helpfull__dsc > p{
    font-size:medium;
    color: var(--unnamed-color-838383);
    padding: 0px 10px;
}

.helpfull__dsc {
    padding: 10px;
    max-width: 370px;
}