.trio__whatweoffer >h2 {
    margin-top: 60px;
    text-align: center;
    color: var(--unnamed-color-008080);
    font-weight: 600;
}
.trio__whatweoffer >hr {   
    max-width: 200px;
    margin: 5px auto;
    font-weight: 600;
    border:1px solid var(--unnamed-color-008080)!important;
}


.whatweoffer{
    margin: 40px auto;
    padding: 30px;
    width:62%;
    box-shadow: 1px 5px 45px #DDE6EDCC;
    border-radius: 8px;
}

.whatweoffer__icons{

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.icons > i{
    font-size: 40px;
    color: var(--unnamed-color-008080);

} 

.icons > span{
    font-size:small;
    color: var(--unnamed-color-008080);
    padding: 20px 10px;
}